.upperCase {
  text-transform: uppercase; }

.calendarColor {
  color: #8c8c8c; }

footer .iconInFooter i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000; }

nav {
  padding: .5rem 1rem !important;
  border-radius: 0px !important;
  background-color: white;
  box-shadow: -2px -1px 13px 0px #a7a7a7b8; }
  @media screen and (min-width: 992px) {
    nav {
      padding: 0 1rem !important; } }
  nav .btn-primary {
    color: black;
    background-color: white;
    border-color: white; }
    nav .btn-primary:hover {
      color: #01C3E6 !important;
      background-color: transparent !important;
      border-color: transparent !important; }
  nav .form-control:focus {
    border-color: 0 !important;
    box-shadow: 0 0 0 0 transparent; }
  nav .modal-content {
    background-color: unset;
    border: 0; }
    nav .modal-content .modal-body {
      padding: 0; }
      nav .modal-content .modal-body .close {
        float: right;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1;
        color: #ca0000;
        text-shadow: 0 1px 0 transparent;
        opacity: 1; }
      nav .modal-content .modal-body input {
        width: 100%;
        border-radius: 22px;
        outline: 0;
        background-image: url("../img/logoImage/searchIcon.png");
        background-repeat: no-repeat;
        background-position: right 14px center; }
  nav .nav-item {
    display: inline-block; }
    nav .nav-item a.nav-link {
      margin: 10px 10px; }
      nav .nav-item a.nav-link:hover {
        color: #01C3E6 !important; }
    nav .nav-item:after {
      display: block;
      content: '';
      border-bottom: 2px solid #00C3E6;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out; }
    nav .nav-item:hover:after {
      transform: scaleX(1); }
  nav .nav-link {
    color: black !important; }
  nav .navbar-toggler {
    border: none !important;
    background: transparent !important; }
  nav .navbar-toggler:focus {
    outline: none !important;
    background: transparent !important;
    border-radius: 50%; }
  nav .navbar-toggler .icon-bar {
    background-color: black;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s; }
  nav .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  nav .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px; }
  nav .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s; }
  nav .navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s; }
  nav .navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s; }
  nav .navbar-toggler:not .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s; }
  nav .navbar-toggler:not .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s; }
  nav .navbar-toggler:not .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s; }

header {
  margin-top: 70px; }
  header nav {
    box-shadow: 0px 0px 0px white !important; }
  header .blogInfos {
    margin-bottom: 30px; }
    header .blogInfos img {
      height: auto;
      width: 100%; }

footer {
  margin-top: 40px;
  padding: 20px 0px 0px 0px;
  background-color: #262626; }
  footer #logo {
    color: #00C3E6; }
  footer .iconInFooter {
    background-color: #00C3E6;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: .4s;
    position: relative;
    bottom: 0; }
    footer .iconInFooter:hover {
      position: relative;
      bottom: 5px;
      transition: .4s; }
      footer .iconInFooter:hover:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 21px;
        border-radius: 50%;
        box-shadow: #bceef7 0px 15px 4px 0px; }
  footer p {
    margin-top: 10px;
    color: white;
    margin-bottom: 0 !important; }
  footer .linkInFooter a {
    color: white; }

/*# sourceMappingURL=blog.css.map */
